.vs
.svn
tmp
Tetherfi_CampaignWinService/bin
Tetherfi_CampaignManager/bin
TCM_ExternalConnectorApi/bin
TCM_ExternalConnector/bin
TCM_ExternalConnectTester/bin

Tetherfi_CampaignWinService/obj
Tetherfi_CampaignManager/obj
TCM_ExternalConnectorApi/obj
TCM_ExternalConnector/obj
TCM_ExternalConnectTester/obj
/logs

TCM.DataServer/bin
TCM.DataServer/obj
